# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Build Output
# ==========================
out/
target/
build/

# ==========================
# Java Compiled Files
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# ZIP Archives
# ==========================
*.zip

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp